<!DOCTYPE html>
<html>
    <head>
        <title>About Us</title>
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <div class="main">
            {{>header}}
        {{!-- <img class="iron" src="download.jpg" alt=""> --}}
        {{!-- <p>created by {{name}}</p> --}}
        </div>
        
        {{>footer}}
    </body>
</html>