<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <div class="main">
            {{>header}}
        <p> {{errormsg}} </p>
        </div>
        
        {{>footer}}
    </body>
</html>