<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <div class="main">
            {{>header}}
        <p>{{txt}}</p>
        </div>
        
        {{>footer}}
    </body>
</html>