<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="stylesheet" href="styles.css">
        
    </head>

    <body>
        <div class="main">
            {{>header}}   

            <form action="">
            <input type="text" placeholder="location">
            <button>Search</button>
            </form>
            <p id="One"></p>
            <p id="Two"></p> 
            <p id="Three"></p>
            <p id="Four"></p>  
            <p id="Five"></p> 
            <p id="Six"></p> 
            <p id="Seven"></p>
            <p id="Eight"></p>
        </div>

        {{>footer}}
        <script src="index.js"></script>
    </body>
</html>